
<h1 class="text-center">@ViewBag.Carreras.Nombre</h1>

<h4>Posiciones de inicio</h4>

<div>
    <tabla>
        <thead>
            <tr>
                <td class="text-capitalize text-black-50">1</td>
                <td class="text-capitalize text-black-50">2</td>
                <td class="text-capitalize text-black-50">3</td>
                <td class="text-capitalize text-black-50">4</td>
                <td class="text-capitalize text-black-50">5</td>
                <td class="text-capitalize text-black-50">6</td>
                <td class="text-capitalize text-black-50">7</td>
                <td class="text-capitalize text-black-50">8</td>
                <td class="text-capitalize text-black-50">9</td>
                <td class="text-capitalize text-black-50">10</td>
            </tr>
            <tr>
                <td class="text-capitalize text-black-50">@ViewBag.</td>
            </tr>
        </thead>
    </tabla>
</div>