@model IEnumerable<Formula_1.Models.Piloto>

@{
	ViewBag.Title = "Estadisiticas";
}


<div class="text-center mb-3">
	<h1>Bienvenido a la central de Estadisiticas</h1>

	<h4>Todo sobre la Forumla 1 al alcance de tu mano</h4>
</div>

<div class="text-start">
	<h1>Mundial de Pilotos</h1>
	<table>
		<thead>
			<tr>
				<th>
					<td>Numero</td>
					<td>Nombre</td>
					<td>Escuderia</td>
					<td>Puntaje</td>
					<td>Historial</td>
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach (Piloto piloto in ViewBag.Pilotos)
			{
				<tr>
					<td>@piloto.NumeroPiloto </td>
				</tr>
			}
		</tbody>
	</table>
</div>